# Core
typer
pytest
openai
python-dotenv
PyYAML
numpy
pydantic
schedule

# UI
streamlit

# Scheduling
APScheduler

# Vector Memory
sentence-transformers
chromadb

# LLM / Transformers
torch
transformers

# Utilities
hashlib
